<?xml version="1.0"?>
<configuration>
  <system.web>
  <authorization>
    <deny users="?"/>
  </authorization>
  <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
  </system.web>

  <location path="ADMIN.Master">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DangNhap.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
